<div id="<%= dom_id(message) %>">
  <div>
    Current Message with dom id <%= dom_id(message) %>: <%= message.comment %>
  </div>
  <div>
    Edit Message #<%= message.id %>
      <%= text_field_tag :comment, message.comment,
          id: dom_id(message, "update"),
          data: { reflex: "change->Message#update", id: message.id } %>
  </div>
</div>
<br>
